:root {
  --bg-color: #090b0f;
  --letter-color: rgb(227, 250, 255);
}

.post-intro {
  padding: 60px 0;
  & .post-intro-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    & .tabela {
      width: 50%;
    }
    & .cta {
      width: 50%;
      display: inline-block;
      & .cta-excerpt {
        text-align: left;
        color: var(--letter-color);
      }
      & button {
        position: relative;
        left: 80px;
        cursor: pointer;
        background-color: #020305;
        color: var(--letter-color);
        font-size: 17px;
        border: none;
        border-radius: 20px;
        padding: 10px 24px;
        margin-top: 20px;
        transition: 0.1s ease;
      }
      & button:hover {
        background-color: #212e4b;
      }
    }
  }
}
