:root {
  --bg-color: #090b0f;
  --letter-color: #e3faff;
}

.header-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  & .logo-container {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    max-width: 6em;
    user-select: none;
    & img {
      width: 6em;
      min-width: 6em;
      object-fit: cover;
      -webkit-user-drag: none;
    }
  }
  & .lado-direito {
    & .userarea {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      color: var(--letter-color);
      gap: 20px;
    }
  }
}
